//CONTAINER MAIN TITLE STYLING
.container{
    h1{
        font-family: $font-family-bungee-shade;
        font-weight: $font-weight-container-h1;
        font-size: $font-size-container-h1;
        color: $font-family-color-white;
        margin: 0;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}