.opening-anim{
    overflow: hidden;
    top: $opening-anim-top-margin;   
    background-color: $opening-anim-background-color;
    padding: 0 150px;
    height: $opening-anim-height;   
    width: $opening-anim-width; 
}