@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$font-family-bungee: 'Bungee', cursive;
$font-family-bungee-shade: 'Bungee Shade', cursive;
$font-family-pacifico: 'Pacifico', cursive;

$font-size-content-h1: 100px;
$font-weight-content-h1: bold;