@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

$font-family-bungee: 'Bungee', cursive;
$font-family-bungee-shade: 'Bungee Shade', cursive;

$font-size-gallery-h1: 50px;
$font-weight-gallery-h1: bold;