//FONT COLORS
$font-family-color-white: #fff;
$font-family-color-dark-grey: #111;
//OPENING-ANIM COLORS
$opening-anim-background-color: rgb(255, 255, 255);
//CONTENT COLORS
$content-background-color: #189AB4;