//CONTENT HEADING STYLING
.content{
    h1{
        color: $font-family-color-white;
        font-family: $font-family-pacifico;
        font-size: $font-size-content-h1;
        font-weight: $font-weight-content-h1;
        margin: 0;                
        span {
            background-image: url("/src/images/SVG/spectrum.svg");
            background-repeat: repeat;
            background-size: cover;            
            background-position-x: var(--scrollPos);
            padding: 50px;
        }
    }    
}