//CONTENT HEADING STYLING
.content{
    h1{
        color: $font-family-color-white;
        font-family: $font-family-pacifico;
        font-size: $font-size-content-h1;
        font-weight: $font-weight-content-h1;
        margin: 0;
    }
}